
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.artist.name</h2>

<div class="row">

    <img class="col-md-6" src="@Model.artist.full_picture" />

    <div class="col-md-3">
        <text>@Model.artist.description</text>

        <!-- if the artist is a band - list the band members and their roles-->
        @if(Model.artist.band)
        {
            <h3>Band Members</h3>
            foreach(var member in Model.band_members)
            {
                <p><a href="../artists/details?name=@member.member"><strong>@member.member</strong></a>: @member.role</p>
            }
        }
    </div>
</div>

<br />

<!-- Records -->

<h3>Records</h3>

@if(Model.records.Count == 0)
{
    <p>This artist has no records.</p>
}
else
{
    <div class="row">
        @foreach (var record in Model.records)
        {
            <div class="col-sm-4">
                <a href="../records/details?code=@record.code">
                    <img class="img-responsive" src="@record.cover">
                </a>
                <text>@record.title (@record.code)</text>
            </div>
        }
    </div>
    
}

<br />

<!-- if the artist is not a band - list the record credits -->
@if (!Model.artist.band)
{
    <h3>Record Credits</h3>

    if(Model.record_credits.Count == 0)
    {
        <p>This artist has no record credits.</p>
    }
    else
    {
        foreach (var credit in Model.record_credits)
        {
            foreach(var record in Model.record_credits_records)
            {
                if(record.code == credit.record)
                {
                    <p>@credit.role in "@record.title" (<a href="../records/details?code=@record.code">@record.code</a>)</p>
                }
            }
        }

    }
}

<br />

<!-- if the artist is not a band - list the song credits -->
@if (!Model.artist.band)
{
    <h3>Song Credits</h3>

    if (Model.song_credits.Count == 0)
    {
        <p>This artist has no song credits.</p>
    }
    else
    {
        foreach (var credit in Model.song_credits)
        {
            foreach(var song in Model.songs)
            {
                if(song.code == credit.song)
                {
                    foreach(var record in Model.song_credits_records)
                    {
                        if(record.code == song.record)
                        {
                            <p>@credit.role in "@song.title" from "@record.title" (<a href="../records/details?code=@record.code">@record.code</a>)</p>
                        }
                    }
                }
            }
        }
    }
}